# 1 Basics

In [1]:
3 + 1

4

In [2]:
 3 * 3

9

In [3]:
2 ** 3

8

In [39]:
"Hello, world!"

'Hello, world!'

In [5]:
'py' + 'thon'

#to combine two separate expressions

'python'

In [6]:
'py' * 3 + 'thon'
#It means repeating the first statement 3 times and is combined with the second statement.

'pypypython'

In [41]:
'py' - 'py'

#Unsupported operand types for 'str' and 'str'.

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [42]:
'3' + 3

#inside expression must be of type 'str', not int

TypeError: can only concatenate str (not "int") to str

In [48]:
3 * '3'

#repeating '3' 3 times

'333'

In [11]:
a
//name 'a' is not defined

NameError: name 'a' is not defined

In [13]:
a = 3

#A value is assigned to a

In [14]:
a

3

In [15]:
1 == 1

#Returns true if two expressions are equal

True

In [16]:
1 == True

#Default 1 is true

True

In [17]:
0 == True

#True == 1 != 0

False

In [18]:
0 == False

#Default 0 is false

True

In [19]:
 3 == 1 * 3

#(3==3) returns true because of operation priority

True

In [20]:
(3 == 1) * 3

#The result is 0 because (3==1) is false

0

In [21]:
(3 == 3) * 4 + 3 == 1

#The result of the expression on the right is 7, so 7 is not equal to 1, so it returns false.

False

In [22]:
3**5 >= 4**4

#the result of the right side expression is 243, the left side expression is 256, so 243 is not greater than 256 and returned false

False

In [23]:
5 / 3

#Because the operation is the division operation and the result in the division operation is always float data type.

1.6666666666666667

In [24]:
5 % 3

#The remainder of dividing 5 by 3.

2

In [25]:
5.0 / 3

#The operation is the division operation and the result in the division operation is always float data type.

1.6666666666666667

In [26]:
5 / 3.0

#The operation is the division operation and the result in the division operation is always float data type.

1.6666666666666667

In [27]:
5.2 % 3

#The remainder of dividing a double or float number by any number returns a double or float number.

2.2

In [28]:
2001 ** 200

#2001 to the power of 200 gives the following result.
#In case of integer, size is converted to long value when variable gets bigger.

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

In [29]:
2000.3 ** 200

#This error occurred for floating point numbers when the size exceeds the variable type limit. If the variable size also exceeds the long limit, Python will throw MemoryError. Because the floating variable size is constantly increasing after reaching 34, because it will throw an OverflowError for precision.

OverflowError: (34, 'Result too large')

In [30]:
1.0 + 1.0 - 1.0

#Because of the smaller 1.0, it doesn't ignore the extra 1.0, so the result is equal to 1.0

1.0

In [31]:
1.0 + 1.0e20 - 1.0e20

#1.0 is ignored because e20 is relatively large i.e. 1.0E20 + 1.0 == 1.0E20

0.0

In [32]:
float(123)

#Converts the integer 123 to floating point.

123.0

In [47]:
float('123')

#Converts 123 string to floating point.

123.0

In [46]:
 float('123.23')

#Converts 123.23 string to floating point.

123.23

In [35]:
int(123.23)

#Convert floating point numbers to integers.

123

In [49]:
int('123.23')

#Converts the string 123.23 to integers.

ValueError: invalid literal for int() with base 10: '123.23'

In [44]:
int(float('123.23'))

#String that converts '123.23' to floating point number first, then to integer 123

123

In [38]:
str(12)

#Converts 12 integers to string

'12'

In [39]:
str(12.2)

#converted from floating point number to strings.

'12.2'

In [45]:
 bool('a')

#string converted to boolean number.

True

In [41]:
bool(0)

#A boolean value of 0 returns false.

False

In [42]:
bool(0.1)

#Convert floating point numbers to Booleen and returns true

True

# 2 Control Flow

In [50]:
range(5)

range(0, 5)

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
type(range(5))

range

In [73]:
for i in range(101):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [74]:
for i in range(101):
    if(i%7==0):
        print(i, end=' ')

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [75]:
for i in range(101):
     if(i%5==0 and i%3!=0):
            print(i, end=' ')

5 10 20 25 35 40 50 55 65 70 80 85 95 100

In [60]:
for x in range(2,21):
    print('x = ' +str(x)+':')
    for i in range(2,x):
        if(x%i==0):
            print(i, end='')
        print()

x = 2:
x = 3:

x = 4:
2

x = 5:



x = 6:
2
3


x = 7:





x = 8:
2

4



x = 9:

3





x = 10:
2


5




x = 11:









x = 12:
2
3
4

6





x = 13:











x = 14:
2




7






x = 15:

3

5









x = 16:
2

4



8







x = 17:















x = 18:
2
3


6


9








x = 19:

















x = 20:
2

4
5




10

In [61]:
i=0
while(i<=100):
    print(i, end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [1]:
i=0
while(i<=100):
    if(i%7==0):
            print(i, end=' ')
    i=i+1

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [45]:
num_found = 0
x = 11
while num_found<20:
    if(x %5==0 and x%7 == 0 and x%11 == 0):
        print(x,end = ' ')
        num_found = num_found +1
    x = x +1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

In [61]:
numberfound = 0
x = 10
while (numberfound == 0):
    if (x%1==0 and x%2==0 and x%3==0 and x%4==0 and x%5==0 and x%6==0 and x%7==0 and x%8==0 and x%9==0 and x%10==0):
              print(x)
              numberfound += 1
    x += 1

2520

In [13]:
def printCollatz(n):
       
    while n != 1:
        print(n, end = ' ')
 
        if n & 1:
            n = 3 * n + 1
 
        else:
            n = n // 2
 
    print(n)
 
printCollatz(103)

103 310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1

# 3 Functions

In [21]:
def hello_world():
    print('Hello, world!') 
    
hello_world()

Hello, world!

In [22]:
def  hello_name(name):
    print('Hello, '+name+'!')

hello_name("Filiz")

Hello, Filiz!

In [23]:
def hello_world_return():
    return 'Hello, world!'

print(hello_world_return())

Hello, world!

In [24]:
def  hello_name_return(name):
    return 'Hello, '+name+'!'
print(hello_name_return("Filiz"))

#It printed the same in "print" and "return" structure.

Hello, Filiz!

In [25]:
def evaluate(x):
    result = 3*(x ** 2)-x+2
    print(result)

evaluate(1)

4

In [28]:
def my_max(x,y):
    if(x>y):
        return x
    else:
         return y
print(my_max(10,100))

100

In [30]:
def my_max(x,y):
    if(x > y):
         return x
    return y

print(my_max(10,100))

100

In [64]:
import math
def is_prime(n):
    for i in range(2,int( math.sqrt(n))):
        if(n%i == 0):
            return False
    return True
 
print(is_prime(13))

True

In [102]:
def is_prime_2(n):
    if(n==2 or n== 3):
        return True
    if((n-1)%6 !=0 and (n+1)%6 != 0 ):
        return False
 
    for i in range(2,int(math.sqrt(n))):
        if(n%i == 0):
             return False
    return True
 
print(is_prime_2(997))

True

In [99]:
import math
def count_prime(n):
    print(str(2)+' '+str(3),end = ' ')
    for x in range(4,n+1):
        if((x-1)%6 !=0 and (x+1)%6 != 0 ):
            continue
        flag = True
        for i in range(2,int(math.sqrt(n))):
            if(x%i == 0):
                    flag = False
        if(flag == True):
            print(x,end = ' ')
        else:
            flag = True
 
count_prime(50)
print()

2 3 7 11 13 17 19 23 29 31 37 41 43 47 49

In [70]:
def count_prime_2(n):
    if(n == 1):
        return 2
    if(n == 2):
        return 3
    num_found = 2
    x = 5
    while(True):

        if((x-1)%6 !=0 and (x+1)%6 != 0 ):
            x = x+1
            continue
 
        flag = True
        for i in range(2,int(math.sqrt(n))):
            if(x%i == 0):
                 flag = False
        if(flag == True):
            num_found = num_found +1
            if(num_found == n):
                   return x
        else:
            flag = True
        x = x+1
 
print(count_prime_2(5))

11

In [67]:
def root(f, a, b):
    mid_point = (a+b)/2
    if(f(mid_point) == 0): 
        return mid_point
    if(f(mid_point) < 0):
        root(f,mid_point,b)
    if(f(mid_point) > 0):
        root(f,a,mid_point)

In [68]:
def root_2(f, a, b):
    mid_point = (a+b)/2
    if(f(mid_point) == 0): 
        return mid_point
    if(f(mid_point) < 0):
        root(f,mid_point,b)
    if(f(mid_point) > 0):
        root(f,a,mid_point)

In [69]:
def check(f,a,b):
    if(f(a)*f(b)>0):
        print('function evals have same sign')